* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #081b29;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.header h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ededed;
  width: 400px;
  margin-left: 120px;
  align-items: center;
  justify-content: center;
}
/* .header h1:hover {
  color: #00abf0;
} */
.home1 {
  display: flex;
  /* background: url("img/home.png") no-repeat;
  background-size: contain; */
  background-position: center;
  height: 100vh;
  align-items: center;
  padding: 0 10%;
  width: 85%;
}
.home1-content ol li {
  display: block;
  list-style: numbers;
  margin-left: 350px;
  margin-top: -150px;
  line-height: 1.5;
  /* margin: 200px 20px; */
  align-items: center;
  height: 50%;
  color: #00abf0;
  font-size: 35px;
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
}
.home1-content ol li a {
  color: #00abf0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: smaller;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.home1-content ol a:hover {
  color: #ededed;
  transition: 0.3s;
}
@media (max-width: 952px) {
  .header h1 {
    font-size: 30px;
    font-weight: 600;
    color: #ededed;
    width: 200px;
    margin-left: 10px;
    /* align-items: center;
    justify-content: center; */
  }
  .home1 {
    display: flex;
    /* background: url("img/home.png") no-repeat;
    background-size: contain; */
    background-position: center;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    width: 85px;
  }
  .home1-content ol li {
    display: flex;
    list-style: numbers;
    /* margin-left: 350px; */
    margin-top: -140px;
    line-height: 1.5;
    /* margin: 200px 20px; */
    align-items: center;
    /* height: 50%; */
    color: #00abf0;
    font-size: 25px;
    width: 290px;
    height: 80px;
    margin-left: 20px;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
  }
  .home1-content ol li a {
    color: #00abf0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: smaller;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
}
